%p#notice= notice

%p
  %b Name:
  = @lessor.name
%p
  %b Street address:
  = @lessor.street_address
%p
  %b Secondary address:
  = @lessor.secondary_address
%p
  %b City:
  = @lessor.city
%p
  %b Region:
  = @lessor.region
%p
  %b Postal code:
  = @lessor.postal_code

= link_to 'Edit', edit_lessor_path(@lessor)
\|
= link_to 'Back', lessors_path
