!!!
%html
  %head
    %title Haven
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body

    .container
      -# Alerts
      .notice= notice
      .alerts= alert

      -# Nav bar
      %nav.navbar
        .container-fluid
          .collapse.navbar-collapse
            %ul.nav.navbar-nav
              - if tenant_signed_in?
                .li
                  %a Your Account
              - else
                .li
                  %a{href: new_tenant_registration_path} Sign-up
                .li
                  %a{href: new_tenant_session_path} Login

      -# Main page content
      = yield
