!!!
%html
  %head
    %title Haven
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body

    .notice= notice
    .alerts= alert

    .nav-bar
      - if tenant_signed_in?
        %a Your Account
      - else
        %a Sign-up
        %a Login

    = yield
